[submodule "themes/crab"]
	path = themes/crab
	url = https://github.com/thomasheller/crab
[submodule "themes/hugo-theme-basic"]
	path = themes/hugo-theme-basic
	url = https://github.com/siegerts/hugo-theme-basic.git
